<div *ngIf="surveyData">
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
      <h2>{{ surveyData.information.name }}</h2>
      <p>{{ surveyData.information.introduction }}</p>
      <p>&nbsp;</p>
      <img src="{{surveyData.information.logo}}" *ngIf="surveyData.information.logo" class="logo">
      <p>{{ surveyData.information.team }}</p>
      <p>Puede dirigir sus consultas a {{ surveyData.information.mail }}</p>
      <p>&nbsp;</p>

      <div>
        <h3>Consentimiento informado</h3>
        <p>Esta encuesta persigue objetivos puramente académicos. Tu participación en esta encuesta no te perjudicará de ningún modo.</p>
        <p>El diseño de esta encuesta tiene en consideración los siguientes derechos de quien responde:</p>
        <ul>
          <li>Anonimato: No se solicitan tus nombres y apellidos; sólo nos interesa buscar tendencias en las respuestas del conjunto de participantes. </li>
          <li>Cofidencialidad: Toda la información que brindes será confidencial y se utilizará única y exclusivamente para fines académicos, que incluyen publicación de resultados, sin revelar tu identidad.</li>
          <li>Respeto e integridad: Tus respuestas no serán juzgadas. Nos interesa tomar en cuenta tu criterio y tu pensamiento libre. </li>
          <li>Voluntariedad: Si no deseas participar, ello no será cuestionado de ningún modo.</li>
        </ul>
        <p>Si tenes consultas o dudas metodológicas, nos podés escribir a {{ surveyData.information.mail }}</p>
      </div>
  
      <div *ngFor="let item of surveyData.items">
        <div [ngSwitch]="item.type">

          <div *ngSwitchCase="'numeric'">
            <label>{{ item.question }}</label>
            <input type="number" [formControlName]="item.var" />
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>

          <div *ngSwitchCase="'multiple'">
            <label>{{ item.question }}</label>
            <select [formControlName]="item.var">
              <option *ngFor="let option of item.options" [value]="option">{{ option }}</option>
            </select>
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>

          <div *ngSwitchCase="'text'">
            <label>{{ item.question }}</label>
            <textarea [formControlName]="item.var" 
            [placeholder]="item.placeholder"></textarea>
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>
          
          <div *ngSwitchCase="'evocation'">
            <label>{{ item.question }}</label>
            {{item.min_items}}
            {{additionalWords}}

            <div *ngFor="let i of getRange((item.min_items || 0) + (additionalWords || 0));
              let idx = index">
              <input [formControl]="getEvocationControl(item, i)" 
                [placeholder]="item.placeholder">
              <input *ngIf="item.weighted" type="number" 
                  [formControl]="getRatingControl(item, i)" 
                  min="1" max="10">
            </div>

            <button (click)="addInput(item)" type="button" name="addButton">Agregar palabra</button>          

            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>       
          
          <div *ngSwitchCase="'scale'">
            <label>{{ item.question }}</label>
            <div *ngFor="let sentence of item.sentences">
              <p>{{ sentence.text }}</p>
              <div *ngFor="let option of item.scale">
                <input type="radio" 
                  [name]="sentence.id"
                  [value]="option.value"
                  (change)="updateScaleValue(item.var, sentence.id, option.value)"
                  >
                <label>{{ option.text }}</label>
              </div>
            </div>
            <div *ngIf="surveyForm.get(item.var)?.invalid && surveyForm.get(item.var)?.dirty">
              {{ item.invalid_text }}
            </div>
          </div>
        </div>
      </div>
  
      <button type="submit" [disabled]="!surveyForm.valid">Submit</button>
    </form>
  </div>