<div *ngIf="surveyData">
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
      <h2>{{ surveyData.information.name }}</h2>
  
      <div *ngFor="let item of surveyData.items">
        <div [ngSwitch]="item.type">

          <div *ngSwitchCase="'numeric'">
            <label>{{ item.question }}</label>
            <input type="number" [formControlName]="item.var" />
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>

          <div *ngSwitchCase="'multiple'">
            <label>{{ item.question }}</label>
            <select [formControlName]="item.var">
              <option *ngFor="let option of item.options" [value]="option">{{ option }}</option>
            </select>
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>

          <div *ngSwitchCase="'text'">
            <label>{{ item.question }}</label>
            <textarea [formControlName]="item.var" 
            [placeholder]="item.placeholder"></textarea>
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>
          
          <div *ngSwitchCase="'evocation'">
            <label>{{ item.question }}</label>
            {{item.min_items}}
            {{additionalWords}}
            <div *ngFor="let i of getRange((item.min_items || 0) + (additionalWords || 0))">
              <input [formControl]="getEvocationControl(item, i)" [placeholder]="item.placeholder">
            </div>
            <button (click)="addInput(item)" type="button" name="addButton">Agregar palabra</button>
          
            <div *ngIf="surveyForm.get(item.var)?.invalid">
              {{ item.invalid_text }}
            </div>
          </div>
          
          
          
          <div *ngSwitchCase="'scale'">
            <label>{{ item.question }}</label>
            <div *ngFor="let sentence of item.sentences">
              <p>{{ sentence.text }}</p>
              <div *ngFor="let option of item.scale">
                <input type="radio" 
                  [name]="sentence.id"
                  [value]="option.value"
                  (change)="updateScaleValue(item.var, sentence.id, option.value)"
                  >
                <label>{{ option.text }}</label>
              </div>
            </div>
            <div *ngIf="surveyForm.get(item.var)?.invalid && surveyForm.get(item.var)?.dirty">
              {{ item.invalid_text }}
            </div>
          </div>
        </div>
      </div>
  
      <button type="submit" [disabled]="!surveyForm.valid">Submit</button>
    </form>
  </div>